{% if site.github_user %}
<section>
  <h1>友情链接</h1>
  <ul id="friend_links">
      <li class="post">
        <a href="http://www.iosxxx.com">向晨宇</a>
      </li>
      <li class="post">
        <a href="http://blog.devtang.com/">唐巧</a>
      </li>
      <li class="post">
        <a href="http://nianxi.net/">念茜</a>
      </li>
      <li class="post">
        <a href="http://blog.cnbluebox.com/">刘坤</a>
      </li>
      <li class="post">
        <a href="http://casatwy.com/">Casa Taloyum</a>
      </li>
      <li class="post">
        <a href="http://www.superqq.com/">刚刚在线</a>
      </li>
  </ul>
</section>
{% endif %}
